/** @format */

// css footer
footer {
  width: 100%;
  height: 50px;
  display: none;
  .container-fluid {
    background-color: $secondary;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .toTop {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 10px;
      cursor: pointer;
    }
  }
}
