/** @format */

// css header
header {
  width: 100%;
  height: 90px;
  top: 0;
  overflow: hidden;
  left: 0;
  position: fixed;
  opacity: 1;
  z-index: 200;
  background-color: $black-cl;
  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .hamburger {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 100%;
      width: 60px;

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        border-radius: 3px;
        background-color: white;
        margin: 3px 0px;
        transition: 0.4s;
      }

      /* Rotate first bar */
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      /* Fade out the second bar */
      .change .bar2 {
        opacity: 0;
      }

      /* Rotate last bar */
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
    .info {
      text-align: center;
      height: 80%;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 15px;
      text-shadow: whitesmoke;
      letter-spacing: 1px;
      font-weight: 900;
    }
  }
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }
  16.66%,
  29.32% {
    transform: translate3d(0, -25%, 0);
  }
  33.32%,
  45.98% {
    transform: translate3d(0, -50%, 0);
  }
  49.98%,
  62.64% {
    transform: translate3d(0, -75%, 0);
  }
  66.64%,
  79.3% {
    transform: translate3d(0, -50%, 0);
  }
  83.3%,
  95.96% {
    transform: translate3d(0, -25%, 0);
  }
}
