/** @format */

// css button, title, icon, elements...
.triangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 57px;
}

.triangle .shape-fill {
  fill: $main-cl;
}

h1 {
  font-size: 3.5rem;
  margin: 0.3em 0 0;
  font-family: "es";
}
.yellow {
  color: $yellow-cl;
}
.glitch {
  text-shadow: -0.1rem -0.1rem 0 cyan, 0.1rem 0.1rem 0 magenta;
  font-family: "es";
}
h2 {
  font-family: "es";
  text-align: center;
  font-size: 2.5rem;
}
h3 {
  font-size: 4.5rem;
  font-family: "cg";
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.sectionTitle {
  font-family: "es";
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
//Carddd
// .project {
//   padding-top: 150px;
//   &__card {
//     display: flex;
//     flex-direction: column;
//     position: relative;
//     .image {
//       width: 40em;
//       height: 22em;
//       position: relative;

//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);
//       }
//     }
//     .text {
//       width: 100%;
//       margin-top: 50px;
//       text-align: left;
//       p {
//         padding-top: 10px;
//         width: 100%;
//       }
//     }
//   }
// }

// .--right {
//   direction: rtl;
//   .project__card {
//     .text {
//       text-align: right;
//     }
//   }
// }

//button
.button {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

@include sm {
  .project {
    padding-top: 6em;
    &__card {
      .image {
        cursor: pointer;
        &:hover + .text {
          .title {
            z-index: 5;
            opacity: 1;
            transform: translateX(0em);
            transition: transform 0.5s ease-in-out;
          }
        }
      }
      .text {
        .title {
          z-index: -1;
          transform: translateX(-0.8em);
          user-select: none;
          opacity: 0;
          position: absolute;
          left: 50%;
          font-size: 3rem;
          top: 25%;
          mix-blend-mode: difference;
        }
        .button {
          display: none;
        }
        .content {
          display: none;
        }
      }
    }
  }
  .--right {
    .project__card {
      .text {
        .title {
          left: 15%;
        }
      }
    }
  }
}

@include xs {
  .project {
    &__card {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .--right {
    direction: unset;
  }
}

@keyframes slideIn {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $button;
  }
}
