/** @format */

// css button, title, icon, elements...
.button {
  display: block;
  padding: 12px 30px;
  width: 50%;
  border-radius: 4px;
  font-family: 'Lora';
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  color: white;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  img{
    width: 20px;
    margin-left: 20px;
  transition: 0.4s ease-in-out;

  }
  &:hover {

    color: #ffffff;
    img{
      transition: 0.4s ease-in-out;
      transform: translateX(4px)
    }
  }
}
