/** @format */

// css header
header {
  width: 100%;
  height: 90px;
  top: 0;
  overflow: hidden;
  left: 0;
  opacity: 1;
  z-index: 10;
  background-color: transparent;
  position: fixed;
  .container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .hamburger {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 100%;
      width: 60px;
      z-index: 100;

      .bar1,
      .bar2,
      .bar3 {
        width: 35px;
        height: 5px;
        border-radius: 3px;
        background-color: $main;
        margin: 3px 0px;
        transition: 0.4s;
      }

      /* Rotate first bar */
      .change1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }

      /* Fade out the second bar */
      .change2 {
        opacity: 0;
      }

      /* Rotate last bar */
      .change3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
    }
    .menu {
      height: 100%;
      color: $main;
      // animation: slideRight 1s ease-in-out;
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          padding: 2em 1.5em;
          cursor: pointer;
          text-transform: uppercase;
          letter-spacing: 0.06em;
          a {
            text-decoration: none;
            color: $main;
            font-family: mr;
            font-weight: 600;
            font-size: 1rem;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              background: $white-cl;
              width: 100%;
              height: 0.15em;
              bottom: -0.5em;
              transform-origin: right center;
              transform: scaleX(0);
              transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
              transition-property: transform;
            }
          }
          &:hover {
            a {
              &::before {
                transform-origin: center left;
                transform: scaleX(1);
                transition: 0.4s cubic-bezier(0.84, 0.13, 0.33, 0.97);
                transition-property: transform;
              }
            }
          }
        }
      }
    }
    .logo {
      img {
        height: 7em;
        cursor: pointer;
      }
    }
  }
}
.active {
  background: $second-cl;
}

//nav

nav {
  left: 0;
  top: 0;
  opacity: 0;
  position: fixed;
  z-index: 99;
  height: 100vh;
  width: 50%;
  transform: translateX(-60em);
  transition: transform 1s ease-in-out;
  ul {
    background-color: #f5e6ce;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5em;
    li {
      width: 100%;
      padding: 5px 0;
      a {
        color: $main;
        font-size: 2.5rem;
        text-transform: uppercase;
      }
      &:hover {
        background-color: $tertiary;
      }
    }
  }
}

.open-nav {
  transform: translateX(0);
  transition: transform 1s ease-out;
}
@include sm {
  header {
    .container-fluid {
      .hamburger {
        display: inline-flex;
      }
    }
  }
  .menu {
    display: none;
  }
  nav {
    opacity: 1;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-250px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(250px);
  }
  to {
    transform: translateX(0px);
  }
}
@include sm {
}
